venv/
.idea/
.vscode/
*.code-workspace
# working dir
kfserving/README.md
kfserving/predictor.md
kfserving/transformer.md
explainer/data/
explainer/test/
explainer/examples/*/.ipynb_checkpoints/
explainer/examples/*/result/
explainer/examples/*/data/
explainer/examples/*/log/

# log
*.log