venv/
.idea/
.vscode/
*.code-workspace
# working dir
kfserving/README.md
kfserving/predictor.md
kfserving/transformer.md
kfserving/explainer/examples/mobilenet/my_work.md
kfserving/explainer/test/
kfserving/explainer/*/data/
kfserving/explainer/test/mobnet/my_work.md
kfserving/explainer/test/*/log/

# log
*.log